div.scrollmenu {
    background-color: #79b393;
    overflow: auto;
    white-space: nowrap;
    border-radius: 15px;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    
  }
  
  td{
    padding: 10px;
  }
  
  .colorTR{
    background: white !important;
  }
  
  .colorBlack1{
    color: black;
    font-weight: bold;
  }
  .colorBlack2{
   color:white;
    font-weight: bold;
  }
  .colorBlack3{
color:blue;
font-weight: bold;


  }
  
  .colorTR{
    background: white !important;
  }