<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="scrollmenu">
    <table>
      <tr>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> No. </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Nombre de Máquina </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Técnico Asignado</ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Prioridad </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2">Comentario Extra</ion-label>
        </td>
        <!-- <td class="ion-text-center">
          <ion-label class="colorBlack2">Fecha de Servicio</ion-label>
        </td> -->
        <td class="ion-text-center">
          <ion-label class="colorBlack2">Hora de Servicio</ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Estado </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2">Opciones</ion-label>
        </td>
      </tr>

      <tr class="colorTR" *ngFor="let service of services; index as i">
        <td class="ion-text-center">
          <ion-label class="colorBlack1"> {{i+1}} </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack3" (click)="serviceInfo(service)">{{ service.nameMachine }}</ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack1">{{ service.nameTechnician }}</ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label *ngIf="service.emergency === 1" class="status-disable">Emergencia</ion-label>
          <ion-label *ngIf="service.emergency != 1" class="status-active">Normal</ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack1"> {{ service.mensaje }} </ion-label>
        </td>
        <!-- <td class="ion-text-center">
          <ion-label class="colorBlack1">{{ service.date.toDate()| date: 'dd/MM/yyyy' }}</ion-label>
        </td> -->
        <td class="ion-text-center">
          <ion-label class="colorBlack1">{{ service.hour }}</ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label *ngIf="service.status === 0" class="status-disable">Cancelado</ion-label>
          <ion-label *ngIf="service.status === 1" class="status-active">Activo</ion-label>
          <ion-label *ngIf="service.status === 2" class="status-end">Completado</ion-label>
        </td>
        <td class="ion-text-center">
          <ion-button size="small" shape="round" color="tertiary" type="button"
          placement="top" (click)="serviceBinnacle(service)">Añadir Bitacora</ion-button>
        </td>
    </table>
  </div>
</ion-content>
