<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button>

      </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Emergencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="button" class="ion-text-center">
    <ion-button shape="round" mode="ios" color="secondary" (click)="new()">Nuevo Servicio de Emergencia</ion-button>
  </div>
  <br>

  <div class="scrollmenu">
    <table>
      <tr>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> No. </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Máquina </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Fecha </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Hora </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Comentario </ion-label>
        </td>
        <!-- <td class="ion-text-center">
          <ion-label class="colorBlack2"> Estado </ion-label>
        </td> -->
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Opciones </ion-label>
        </td>
      </tr>

      <tr class="colorTR" *ngFor="let emergencyService of emergencyServices; index as i">
        <td class="ion-text-center">
          <ion-label class="colorBlack1"> {{i+1}} </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack4" (click)="viewBitacora(emergencyService)">{{ emergencyService.machineName }} </ion-label>
        </td>
        <!-- <td class="ion-text-center">
          <ion-label class="colorBlack1"> {{ emergencyService.date.toDate() | date: 'dd/MM/yyyy' }} </ion-label>
        </td> -->
        <td class="ion-text-center">
          <ion-label class="colorBlack1"> {{ emergencyService.hour }} </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack1"> {{ emergencyService.commentary }}</ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label *ngIf="emergencyService.status === 0" class="status-disable"> Cancelado </ion-label>
          <ion-label *ngIf="emergencyService.status === 1" class="status-accept"> Aceptado </ion-label>
          <ion-label *ngIf="emergencyService.status === 2" class="status-pending"> Pendiente </ion-label>
        </td>
        <td class="ion-text-center">
          <div class="btn-showcase">
            <ion-button size="small" shape="round" *ngIf="emergencyService.status === 2" color="danger" type="button"
            placement="top" (click)="disableEmergencyService(emergencyService.uid)">Cancelar</ion-button>
          </div>
        </td>
      </tr>
    </table>
  </div>

</ion-content>
