div.scrollmenu {
  background-color: #79b393;
  overflow: auto;
  white-space: nowrap;
  border-radius: 15px;
}

div.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  border-radius: 15px;
}

div.scrollmenu a:hover {
  background-color: #777;
}

td {
  padding: 10px;
}

.colorTR {
  background: white !important;
}

.colorBlack1 {
  color: black;
  font-weight: bold;
}

.colorBlack2 {
  color: white;
  font-weight: bold;
}

.colorBlack3 {
  color: green;
  font-weight: bold;

}

.colorTR {
  background: white !important;
}

.status-active {
  color: #21ae47;
  font-weight: bold;
}

.status-disable {
  color: #ff5470;
  font-weight: bold;
}

.file-open {
  color: #4465f2;
  font-weight: bold;
  cursor: pointer;
}

.input{
  background: white;
  color: black;
  width: 90%;
  height: 30px;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 10px;
}