<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title clasS="ion-text-center">Información de Servicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >
  <ion-text class="ion-text-left">
    <p class="colorBlack2">Máquina:</p><p class="colorBlack1"> {{ data.service.nameMachine }} </p>
  </ion-text>
  <ion-text class="ion-text-left">
    <p class="colorBlack2">Folio:</p><p class="colorBlack1"> {{ data.service.folio }} </p>
  </ion-text>
  <ion-text class="ion-text-left">
    <p class="colorBlack2">Marca:</p><p class="colorBlack1">{{ data.machine.brand }}</p>
  </ion-text>  
  <ion-text class="ion-text-left">
    <p class="colorBlack2">No. Serie:</p><p class="colorBlack1">{{ data.machine.serialNumber }}</p>
  </ion-text>
  <ion-text class="ion-text-left">
    <p class="colorBlack2">Modelo:</p><p class="colorBlack1"> {{ data.machine.model }}</p>
  </ion-text>
  <ion-text class="ion-text-left">
    <p class="colorBlack2">Técnico:</p><p class="colorBlack1"> {{ data.service.nameTechnician }}</p>
  </ion-text>
  <ion-text class="ion-text-left">
    <p class="colorBlack2">Fecha de Servicio: </p><p class="colorBlack1"> {{ date }}</p>
  </ion-text>
  <ion-text class="ion-text-left">
    <p class="colorBlack2">Hora de Servicio:</p><p class="colorBlack1">{{ data.service.hour }}</p>
  </ion-text>
  <!-- <ion-text class="ion-text-left">
    <p class="colorBlack2">Fecha de Bítacora:</p><p class="colorBlack1" >{{ data.service.createDate.toDate() }}</p>
  </ion-text> -->
  <ion-text class="ion-text-center">
    <p class="colorBlack2">Comentario:</p><p> {{ data.service.commentary }}</p>
  </ion-text>
  <ion-text class="ion-text-center">
    <p class="colorBlack2">PDF:</p>
  </ion-text>
  <pdf-viewer src="{{ pdf }}" [zoom]="2.0" [render-text]="true" [original-size]="false"></pdf-viewer>

</ion-content>
