<ion-header>
  <ion-toolbar color="tertiary">

    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Maquinas</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">
  <ion-text class="ion-text-center">
    <p class="colorBlack2">Información de Máquina</p>
  </ion-text>
  <ion-text class="ion-text-center">
    <p class="colorBlack2">Nombre:</p>
    <p class="ion-text-center">{{ data.name }}</p>
  </ion-text>
  <ion-text class="ion-text-center">
    <p class="colorBlack2">Descripción:</p>
    <p class="ion-text-center">{{ data.description }}</p>
  </ion-text>
  <ion-text class="ion-text-center">
    <p class="colorBlack2">Código:</p>
    <p class="ion-text-center">{{ data.code }}</p>
  </ion-text>
  <ion-text class="ion-text-center">
    <p class="colorBlack2">Marca:</p>
    <p class="ion-text-center">{{ data.brand }}</p>
  </ion-text>
  <ion-col size="6" class="ion-padding">
    <img class="img" src="{{data.pathImage}}">
  </ion-col>

  <ion-text class="ion-text-center">
    <p class="colorBlack2">Bitacoras:</p>

    <div class="scrollmenu">
      <table>
        <tr>
          <td class="ion-text-center">
            <ion-label class="colorBlack2"> No. </ion-label>
          </td>
          <td class="ion-text-center">
            <ion-label class="colorBlack2">Técnico</ion-label>
          </td>
          <td class="ion-text-center">
            <ion-label class="colorBlack2">Comentario</ion-label>
          </td>
          <td class="ion-text-center">
            <ion-label class="colorBlack2">Creado</ion-label>
          </td>
        </tr>
        <tr class="colorTR" *ngFor="let binnacle of arrAssigned; index as i">
          <td class="ion-text-center">
            <ion-label class="colorBlack1"> {{i+1}} </ion-label>
          </td>
          <td class="ion-text-center">
            <ion-label class="colorBlack3" (click)="binnacleInfo(binnacle)"> {{ binnacle.nameTechnician }} </ion-label>
          </td>
          <td class="ion-text-center">
            <ion-label class="colorBlack1">{{ binnacle.commentary }}</ion-label>
          </td>
          <td class="ion-text-center">
            <ion-label class="colorBlack1">{{ binnacle.createDate.toDate()| date: 'dd/MM/yyyy' }}</ion-label>
          </td>
      </table>
    </div>
  </ion-text>
  <br>
  <br>
  <br>

</ion-content>
