<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Maquinas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="col-md-4 mb-3">
    <label><b>Filtrar por Usuario</b></label>
    <ion-item>
      <select class="select" id="uidUser" (change)="saveUserSelect($event)">
        <option hidden value="" selected>Selecciona un usuario...</option>
        <option [value]="user.uid" *ngFor="let user of users">{{user.firstName}}
          {{user.lastName}}
        </option>
      </select>
    </ion-item>
  </div>
  <br>
  <div class="col-md-4 mb-3">
    <label><b>Filtrar por máquina</b></label>
    <input class="form-control input" type="text" #myInput [(ngModel)]="maquinaFiler" (input)="searchMaquina()" />
  </div>
  <br>
  <div class="col-md-4 mb-3">
    <label><b>Filtrar por número de serie</b></label>
    <input class="form-control input" type="text" #myInput [(ngModel)]="serieFilter" (input)="searchSerie()" />
  </div>
  <br>

  <div class="scrollmenu">
    <table>
      <tr>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> No </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Nombre </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2">Descripción</ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2">No serie</ion-label>
        </td>
        <!-- <td class="ion-text-center">
          <ion-label class="colorBlack2">Servicios Programados</ion-label>
        </td> -->
        <td class="ion-text-center">
          <ion-label class="colorBlack2">Estado</ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2">Imagen</ion-label>
        </td>
      </tr>

      <tr class="colorTR" *ngFor="let machine of machines; index as i">
        <td class="ion-text-center">
          <ion-label class="colorBlack1"> {{i+1}} </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack3" (click)="infomaquina(machine)"> {{ machine.name }}
          </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack1">{{ machine.description }}</ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack1">{{ machine.serialNumber }}</ion-label>
        </td>
        <!-- <td class="ion-text-center">
          <ion-label class="colorBlack1"> {{ machine.months }} Meses</ion-label>
        </td> -->
        <td class="ion-text-center">
          <ion-label *ngIf="machine.status === 1" class="status-active" >Activo</ion-label>
          <ion-label *ngIf="machine.status === 2" class="status-active" >Deshabilitado</ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label (click)="viewFile(machine.pathImage)" class="file-open">Visualizar</ion-label>
        </td>
      </tr>
    </table>
  </div>
</ion-content>
