<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Información de Máquina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-label class="colorBlue1"> Achivo de Bitacora No.1 </ion-label>
  <input [(ngModel)]="pathFile0" (change)="fileBinnacle(0, $event)" type="file" accept=".png,.jpg,.pdf" class="form-control">
  <br>
  <br>
  <br>
  <ion-label class="colorBlue1"> Achivo de Bitacora No.2 </ion-label>
  <input [(ngModel)]="pathFile1" (change)="fileBinnacle(1, $event)" type="file" accept=".png,.jpg,.pdf" class="form-control">
  <br>
  <br>
  <br>
  <ion-label class="colorBlue1"> Achivo de Bitacora No.3 </ion-label>
  <input [(ngModel)]="pathFile2" (change)="fileBinnacle(2, $event)" type="file" accept=".png,.jpg,.pdf" class="form-control">
  <br>
  <br>
  <br>
  <ion-label class="colorBlue1"> Achivo de Bitacora No.4 </ion-label>
  <input [(ngModel)]="pathFile3" (change)="fileBinnacle(3, $event)" type="file" accept=".png,.jpg,.pdf" class="form-control">
  <br>
  <br>
  <br>
  <ion-label class="colorBlue1"> Achivo de Bitacora No.5</ion-label>
  <input [(ngModel)]="pathFile4" (change)="fileBinnacle(4, $event)" type="file" accept=".png,.jpg,.pdf" class="form-control">
  <br>
  <br>
  <br>
  <p class="ion-text-center">Comentario de Bitacora</p>
  <ion-item>
    <ion-textarea placeholder="Comentario de Bitacora" [(ngModel)]="commentary" ></ion-textarea>
  </ion-item>
  <ion-button (click)="createBinnacle()" mode="ios" shape="round" color="tertiary" expand="full">Guardar</ion-button>
  <hr>

  <p class="color2" class="ion-text-center">Comentario Extra del Servicio</p>
  <ion-item>
    <ion-textarea placeholder="Comentario del Servicio" [(ngModel)]="addCommentary"></ion-textarea>
  </ion-item>
  <ion-button (click)="createComment()" mode="ios" shape="round" color="tertiary" expand="full">Guardar Comentario</ion-button>
</ion-content>
