.form {
  color: white;
}

.colorBlack2 {
  color: black;
  font-weight: bold;
}

.select {
  width: 65%;
  background: white;
  border-radius: 10px;
  height: 30px;
}

.date {
  width: 50%;
  background: white;
  border-radius: 10px;
  height: 30px;
}

.hour {
  width: 50%;
  background: white;
  border-radius: 10px;
  height: 30px;
}
