<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button>

      </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Nuevas Emergencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <br>
  <br>

  <ion-text class="ion-text-center">
    <p class="colorBlack2">Información de Máquina</p>
  </ion-text>
  <br>
  <br>

  <ion-item>
    <ion-label class="ion-padding colorBlack2">Maquinas</ion-label>
    <select [(ngModel)]="opcionSeleccionado" (change)="capturar()" class="select" id="uidMachine">
      <option hidden value="0" selected>Selecciona una máquina...</option>
      <option [value]="machine.uid" *ngFor="let machine of machines">{{machine.name}}
      </option>
    </select>
  </ion-item>
  <br>
  <ion-item>
    <ion-label class="colorBlack2">
      <ion-icon slot="start" name="calendar-outline"></ion-icon> &nbsp; Fecha de Servicio
    </ion-label>
    <input type="date" class="date" [(ngModel)]="date" (change)="getDate()" required>
  </ion-item>
  <br>
  <ion-item>
    <ion-label class="colorBlack2">
      <ion-icon slot="start" name="alarm-outline"></ion-icon> &nbsp; Hora
    </ion-label>
    <input type="time" class="hour" [(ngModel)]="hour" (change)="getHour()" required>
  </ion-item>
  <br>
  <p class="ion-text-center">Comentarios:</p>
  <ion-item>
    <ion-textarea [(ngModel)]="comentario" placeholder="Ingrese el comentario de la emergencia"></ion-textarea>
  </ion-item>
  <br>
  <ion-button color="tertiary" (click)="saveEmergency()" shape="round" mode="ios" expand="full">Enviar Emergencia</ion-button>

</ion-content>
