<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button>

      </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Cotizaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="row">
    <div class="col-sm-12 col-xl-10">
      <h4 class="title-page">Cotizaciones</h4>
    </div>
    <div class="col-md-4 mb-3">
      <label><b>Filtrar por máquina</b></label>
      <input class="form-control input" type="text" #myInput [(ngModel)]="maquinaFiler" (input)="searchMaquina()" />
    </div>
  </div>
  <br>
  <div class="scrollmenu">
    <table>
      <tr>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> No. </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Nombre de Máquina </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Usuario </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Comentario </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Archivo </ion-label>
        </td>
        <!-- <td class="ion-text-center">
          <ion-label class="colorBlack2"> Fecha de Creación </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Fecha de Actualización </ion-label>
        </td> -->
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Estado </ion-label>
        </td>
      </tr>

      <tr class="colorTR" *ngFor="let quote of quotes; index as i">
        <td class="ion-text-center">
          <ion-label class="colorBlack1"> {{i+1}} </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack1"> {{ quote.nameMachine }} </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack1"> {{ quote.nameUser }} </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack1"> {{ quote.commentary }} </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label (click)="viewFile(quote.pathFile)" class="file-open"> Visualizar </ion-label>
        </td>
        <!-- <td class="ion-text-center">
          <ion-label class="colorBlack1"> {{ quote.createDate.toDate() | date: 'dd/MM/yyyy' }} </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack1"> {{ quote.updateDate.toDate() | date: 'dd/MM/yyyy' }} </ion-label>
        </td> -->
        <td class="ion-text-center">
          <ion-label *ngIf="quote.status === 1" class="status-active"> Activo</ion-label>
          <ion-label *ngIf="quote.status === 2" class="status-disable"> Cancelado</ion-label>
        </td>
    </table>
  </div>
</ion-content>
