<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Informacion de Servicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text class="ion-text-left">
    <p class="colorBlack2">Máquina:</p><p class="colorBlack1">{{ data.nameMachine }}</p>
  </ion-text>
  <ion-text class="ion-text-left">
    <p class="colorBlack2">Técnico:</p><p class="colorBlack1">{{ data.nameTechnician }}
    </p>
  </ion-text>  
  <ion-text class="ion-text-left">
    <p class="colorBlack2">Usuario:</p><p class="colorBlack1"> {{ data.nameUser }}</p>
  </ion-text>
  <ion-text class="ion-text-left">
    <p class="colorBlack2">Campus:</p><p class="colorBlack1">{{campusName}}</p>
  </ion-text>
  <ion-text class="ion-text-left">
    <p class="colorBlack2">Edificio:</p><p class="colorBlack1">{{building}}</p>
  </ion-text>
  <ion-text class="ion-text-left">
    <p class="colorBlack2">Proyecto:</p><p class="colorBlack1">{{project}} </p>
  </ion-text>
  <!-- <ion-text class="ion-text-left">
    <p class="colorBlack2">Fecha:</p><p class="colorBlack1">{{ serviceInfo.date.toDate() | date: 'dd/MM/yyyy' }}</p>
  </ion-text> -->
  <ion-text class="ion-text-left">
    <p class="colorBlack2">Hora:</p><p class="colorBlack1" >{{ data.hour }}</p>
  </ion-text>
  <ion-text class="ion-text-left">
    <p class="colorBlack2">Comentario:</p><p class="colorBlack1" >{{ data.commentary }}</p>
  </ion-text>
  <br>
  <div *ngIf="data.binnacle != 0">
    <ion-text class="ion-text-left">
      <p class="colorBlack1">Información de Bitacora:</p><p class="colorBlack2">Bitacora sin Asignar</p>
    </ion-text>
    <ion-text class="ion-text-left">
      <p class="colorBlack2">Máquina:</p><p class="colorBlack1" >{{ data.nameMachine }}</p>
    </ion-text>
    <ion-text class="ion-text-left">
      <p class="colorBlack2">Técnico:</p><p class="colorBlack1" >{{ data.nameTechnician }}</p>
    </ion-text>
    <ion-text class="ion-text-left">
      <p class="colorBlack2">Usuario:</p><p class="colorBlack1" >{{ data.nameUser }}</p>
    </ion-text>
  </div>

</ion-content>
