.colorNegro1{
    color: black;
    font-weight: bold;
    
    }
    div.scrollmenu {
        background-color: #79b393;
        overflow: auto;
        white-space: nowrap;
        border-radius: 15px;
      }
      
      div.scrollmenu a {
        display: inline-block;
        color: black;
        text-align: center;
        padding: 14px;
        text-decoration: none;
        border-radius: 15px;
      }
      
      div.scrollmenu a:hover {
        background-color: #777;
      }
      
      td{
        padding: 10px;
      }
      
      .colorTR{
        background: white !important;
      }
    
      .colorBlack2{
       color:white;
        font-weight: bold;
      }
      .colorBlack3{
    color: blue;
    font-weight: bold;
    
      }
      .colorBlack4{
    color: green;
    font-weight: bold;
      }
    
      .colorTR{
        background: white !important;
      }