<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Información de Bitacora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <div class="colorNegro1"><p class="ion-text-center">Filtros</p>
  </div>  
  <ion-item>
  <ion-label>Tipos</ion-label>
  <ion-select placeholder="Select One">
    <ion-select-option value="n">Normal</ion-select-option>
    <ion-select-option value="e">Emergencia</ion-select-option>
  </ion-select>
</ion-item> -->
<!-- <br>
<br> -->
<br>
<div class="scrollmenu">
  <table>
    <tr>
      <td class="ion-text-center">
        <ion-label class="colorBlack2"> No </ion-label>
      </td>
      <td class="ion-text-center">
        <ion-label class="colorBlack2">Máquina </ion-label>
      </td>
      <td class="ion-text-center">
        <ion-label class="colorBlack2">Técnico</ion-label>
      </td>
      <td class="ion-text-center">
        <ion-label class="colorBlack2">	Comentario</ion-label>
      </td>
      <!-- <td class="ion-text-center">
        <ion-label class="colorBlack2">Creado</ion-label>
      </td> -->
    </tr>

    <tr class="colorTR" *ngFor="let binnacle of binnacles; index as i">
      <td class="ion-text-center">
        <ion-label class="colorBlack1"> {{i+1}} </ion-label>
      </td>
      <td class="ion-text-center">
        <ion-label class="colorBlack3" (click)="binnacleInfo(binnacle)">{{ binnacle.nameMachine }}</ion-label>
      </td>
      <td class="ion-text-center">
        <ion-label class="colorBlack1">{{ binnacle.nameTechnician }}</ion-label>
      </td>
      <td class="ion-text-center">
        <ion-label class="colorBlack1">	{{ binnacle.commentary }}</ion-label>
      </td>
      <!-- <td class="ion-text-center">
        <ion-label class="colorBlack1">	{{ binnacle.createDate.toDate()| date: 'dd/MM/yyyy' }} </ion-label>
      </td> -->
    </tr>
  </table>
</div>
</ion-content>
