<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button>

      </ion-back-button>
    </ion-buttons>
    <ion-title>Técnico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text class="ion-text-center">
    <p class="colorBlack3">Información del Servicio:</p>
  </ion-text>
  <ion-text class="ion-text-center">
    <p class="colorBlack3">Máquina:</p><p class="ion-text-center">Cámara 6 ESPEC-EWPT499-CCW - 3035559</p>
  </ion-text>
  <ion-text class="ion-text-center">
    <p class="colorBlack3">F º:</p><p class="ion-text-center">Prueba</p>
  </ion-text>  
  <ion-text class="ion-text-center">
    <p class="colorBlack3">Marca:</p><p class="ion-text-center">ESPEC</p>
  </ion-text>
  <ion-text class="ion-text-center">
    <p class="colorBlack3">No. Serie:</p><p class="ion-text-center">3035559</p>
  </ion-text>
  <ion-text class="ion-text-center">
    <p class="colorBlack3">Modelo: </p><p class="ion-text-center">EWPT499-CCW</p>
  </ion-text>
  <ion-text class="ion-text-center">
    <p class="colorBlack3">Técnico:</p><p class="ion-text-center"> Aldo González Bizarro</p>
  </ion-text>
  <ion-text class="ion-text-center">
    <p class="colorBlack3">Fecha de Servicio:</p><p class="ion-text-center">14/02/2021</p>
  </ion-text>
  <ion-text class="ion-text-center">
    <p class="colorBlack3">Hora de Servicio:</p><p>14:15</p>
  </ion-text>
  <ion-text class="ion-text-center">
    <p class="colorBlack3">Fecha de Bitacora:</p><p class="ion-text-center">18/03/2021</p>
  </ion-text>
  <ion-text class="ion-text-center">
    <p class="colorBlack3">Comentario:</p><p class="ion-text-center">La máquina de está alarmando por fuga</p>
  </ion-text>
</ion-content>