<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Información de Máquina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text class="ion-text-left">
    <p class="colorBlack4">Nombre:</p>
    <p class="colorBlack1"> {{ data.name }} </p>
  </ion-text>
  <ion-text class="ion-text-left">
    <p class="colorBlack4">Descripción:</p>
    <p class="colorBlack1"> {{ data.description }} </p>
  </ion-text>
  <ion-text class="ion-text-left">
    <p class="colorBlack4">Código:</p>
    <p class="colorBlack1">{{ data.code }}</p>
  </ion-text>
  <ion-text class="ion-text-left">
    <p class="colorBlack4">Marca:</p>
    <p class="colorBlack1">{{ data.brand }}</p>
  </ion-text>
  <ion-text class="ion-text-left">
    <p class="colorBlack4">Modelo: </p>
    <p class="colorBlack1">{{ data.model }}</p>
  </ion-text>
  <img alt="" class="img-info" src="{{data.pathImage}}">
  <div class="ion-text-center">
    <p class="colorBlack3">Bitacora</p>
  </div>

  <div class="scrollmenu">
    <table>
      <tr>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> No </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2">Máquina</ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2">Técnico</ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2">Comentario</ion-label>
        </td>
        <!-- <td class="ion-text-center">
          <ion-label class="colorBlack2">Creado</ion-label>
        </td> -->
      </tr>

      <tr class="colorTR" *ngFor="let service of arrAssigned; index as i">
        <td class="ion-text-center">
          <ion-label class="colorBlack1"> {{i+1}} </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack3" (click)="binnacleInfo(service)"> {{ service.nameMachine }}
          </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack1">{{ service.nameTechnician }}</ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack1">{{ service.commentary }} </ion-label>
        </td>
        <!-- <td class="ion-text-center">
          <ion-label class="colorBlack1">{{ service.createDate.toDate()| date: 'dd/MM/yyyy' }}</ion-label>
        </td> -->
      </tr>
    </table>
  </div>
</ion-content>
