.colorBlack3 {
  color: black;
  font-weight: bold;

}

pdf-viewer {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(5px 5px 5px #222222);
  width: 100%;
  height: 100%;
}
