<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button>

      </ion-back-button>
    </ion-buttons>
    <ion-title>Informacón de Servicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content class="ion-padding">
    <ion-text class="ion-text-center">
      <p class="colorBlack3">Máquina:</p>
      <p class="ion-text-center">{{ bitacora.nameMachine }}</p>
    </ion-text>
    <ion-text class="ion-text-center">
      <p class="colorBlack3">Folio:</p>
      <p class="ion-text-center">{{ bitacora.folio }}</p>
    </ion-text>
    <ion-text class="ion-text-center">
      <p class="colorBlack3">Marca:</p>
      <p class="ion-text-center"> {{ maquina.brand }}</p>
    </ion-text>
    <ion-text class="ion-text-center">
      <p class="colorBlack3">No. Serie:</p>
      <p class="ion-text-center">{{ maquina.serialNumber }}</p>
    </ion-text>
    <ion-text class="ion-text-center">
      <p class="colorBlack3">Modelo:</p>
      <p class="ion-text-center">{{ maquina.model }}</p>
    </ion-text>
    <ion-text class="ion-text-center">
      <p class="colorBlack3">Técnico</p>
      <p class="ion-text-center"> {{ bitacora.nameTechnician  }} </p>
    </ion-text>
    <ion-text class="ion-text-center">
      <p class="colorBlack3">Fecha de Servicio:</p>
      <p>{{ date }}</p>
    </ion-text>
    <ion-text class="ion-text-center">
      <p class="colorBlack3">Hora de Servicio:</p>
      <p>{{ bitacora.hour  }}</p>
    </ion-text>
    <!-- <ion-text class="ion-text-center">
      <p class="colorBlack3">Fecha de Bítacora:</p><p>{{ bitacora.createDate.toDate() | date: 'dd/MM/yyyy' }}</p>
    </ion-text> -->
    <ion-text class="ion-text-center">
      <p class="colorBlack3">Comentario:</p>
      <p>{{ bitacora.commentary }}</p>
    </ion-text>
    <ion-text class="ion-text-center" *ngIf="viewFile">
      <p class="colorBlack3">PDF:</p>
    </ion-text>
    <pdf-viewer *ngIf="viewFile" src="{{ pdf }}" [zoom]="2.0" [render-text]="true" [original-size]="false"></pdf-viewer>

  </ion-content>
