.cardcontent{
    border-radius: 20px;
  }
  .multimediaCards {
    margin-top: 25px;
    border-radius: 20px;
    box-shadow: 0 !important;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 175px !important;
    width: 100% !important;
    filter:brightness(0.8);
  }

  .card-title2 {
    position: absolute;
    top: 40%;
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    color: white;
    text-align: center;
    align-items: center;
  }