<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="true"></ion-menu-button>
      </ion-buttons>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <ion-card class="cardcontent" (click)="Ir()">
        <img src="assets/img/servicios.png" class="multimediaCards">
        <div class="card-title2">SERVICIOS</div>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6" class="ion-no-padding">
      <ion-card class="cardcontent" (click)="maquinas()">
        <img src="assets/img/maquinas.jpg" class="multimediaCards">
        <div class="card-title2">MAQUINAS</div>
      </ion-card>
    </ion-col>
    <ion-col size="6" class="ion-no-padding">
      <ion-card class="cardcontent" (click)="emergencia()">
        <img src="assets/img/emergencia.png" class="multimediaCards">
        <div class="card-title2">EMERGENCIAS</div>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6" class="ion-no-padding">
      <ion-card class="cardcontent" (click)="compras()">
        <img src="assets/img/compras.png" class="multimediaCards">
        <div class="card-title2">ORDENES DE COMPRAS</div>
      </ion-card>
    </ion-col>
    <ion-col size="6" class="ion-no-padding">
      <ion-card class="cardcontent" (click)="cotizar()">
        <img src="assets/img/cotizacion.jpg" class="multimediaCards">
        <div class="card-title2">COTIZACIONES</div>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
