<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button>

      </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> Cotización </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <pdf-viewer src="{{ pdf }}" [zoom]="2.0" [render-text]="true" [original-size]="false"></pdf-viewer>

</ion-content>
