div.scrollmenu {
  background-color: #79b393;
  overflow: auto;
  white-space: nowrap;
  border-radius: 15px;
}

div.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

td{
  padding: 10px;
}

.colorTR{
  background: white !important;
}

.colorBlack1{
  color: black;
  font-weight: bold;
}
.colorBlack2{
 color:white;
  font-weight: bold;
}

.colorBlack3{
color: green;
font-weight: bold;


}
.colorBlack4{
color: blue;
font-weight: bold;

}
.colorTR{
  background: white !important;
}

.status-active {
  color: #2123ae;
  font-weight: bold;
}

.status-end {
  color: #21ae47;
  font-weight: bold;
}

.status-disable {
  color: #ff5470;
  font-weight: bold;
}