<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button>

      </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Servicios</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label class="colorBlack1">Filtro de status</ion-label>
    <ion-select multiple="false" mode="ios" (ionChange)="status($event)">
      <ion-select-option value="1">Sin Bitácora</ion-select-option>
      <ion-select-option value="2">Con Bitácora</ion-select-option>
      <ion-select-option value="1,2,3">Todos</ion-select-option>
    </ion-select>
  </ion-item>
  <br>
  <div class="scrollmenu">
    <table>
      <tr>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> No. </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Nombre de Máquina </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Técnico Asignado </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Usuario Asignado </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Fecha de servicio </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Hora de Servicio </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Estado </ion-label>
        </td>
       </tr>

      <tr class="colorTR" *ngFor="let service of services; index as i">
        <td class="ion-text-center">
          <ion-label class="colorBlack1">{{i+1}}</ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack4" (click)="goDetail(service)">{{ service.nameMachine }}</ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack1">{{ service.nameTechnician }}</ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack1">{{ service.nameUser }}</ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack1">{{ service.date.toDate()| date: 'dd/MM/yyyy' }}</ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack1">{{ service.hour }}</ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label *ngIf="service.status === 0" class="status-disable">Cancelado</ion-label>
          <ion-label *ngIf="service.status === 1" class="status-active">Activo</ion-label>
          <ion-label *ngIf="service.status === 2" class="status-end">Completado</ion-label>
        </td>
    </table>
  </div>
</ion-content>
