<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button>

      </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">INFORMACION DE SERVICIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text class="ion-text-center">
    <p class="colorBlack2">Máquina:</p>
    <p class="ion-text-center">{{ data.nameMachine }}</p>
  </ion-text>
  <ion-text class="ion-text-center">
    <p class="colorBlack2">Técnico:</p>
    <p class="ion-text-center">{{ data.nameTechnician }}
    </p>
  </ion-text>
  <ion-text class="ion-text-center">
    <p class="colorBlack2">Usuario:</p>
    <p class="ion-text-center">{{ data.nameUser }}</p>
  </ion-text>
  <ion-text class="ion-text-center">
    <!-- <p class="colorBlack2">Fecha:</p><p class="ion-text-center">{{ data.date.toDate()| date: 'dd/MM/yyyy' }}</p> -->
  </ion-text>
  <ion-text class="ion-text-center">
    <p class="colorBlack2">Hora:</p>
    <p class="ion-text-center">{{ data.hour }}</p>
  </ion-text>
  <ion-text class="ion-text-center">
    <p class="colorBlack2">Fecha:</p>
    <p class="ion-text-center"> {{ date }}</p>
  </ion-text>
  <ion-text class="ion-text-center">
    <p class="colorBlack2">Comentario:</p>
    <p class="ion-text-center">{{ data.commentary }}</p>
  </ion-text>
  <ion-text class="ion-text-center">
    <p class="colorBlack2">Comentario extra agreagado por el técnico:</p>
    <p class="ion-text-center">{{ data.mensaje }}</p>
  </ion-text>
  <br>
  <div class="ion-text-center">
    <p class="colorBlack2">Archivo adjunto:</p>    
  </div>

  <div class="card-body" *ngIf="data.files.length >= 1">
    <div class="row">
      <div class="col-sm-4 mb-3">
        <a [href]="data.files[0].path" target="_blank" *ngIf="data.files[0].type === 'pdf'">
          <img class="img-pdf" src="assets/img/pdf.png" alt="">
        </a>
      </div>
    </div>
  </div>

</ion-content>
