<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="true"></ion-menu-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class ="ion-padding">
  <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <ion-card class="cardcontent" (click)="serviciostech()"> 
        <img src="assets/img/servicio.jpg"
      class="multimediaCards">
        <div class="card-title2">SERVICIOS</div>
      </ion-card>
    </ion-col>
</ion-row>

<ion-row>
  <ion-col size="12" class="ion-no-padding">
    <ion-card class="cardcontent" (click)="maquina()"> 
      <img src="assets/img/maquinass.jpg" class="multimediaCards">
      <div class="card-title2">MAQUINAS</div>
    </ion-card>
  </ion-col>
  <ion-col size="12" class="ion-no-padding">
    <ion-card class="cardcontent"  (click)="bitacora()"> 
      <img src="assets/img/bitacora.jpg" class="multimediaCards">
      <div class="card-title2">BITACORAS</div>
    </ion-card>
  </ion-col>

</ion-row>
</ion-content>
