<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button>

      </ion-back-button>
    </ion-buttons>
    <ion-title>Info. de Maquina y Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text class="ion-text-center">
    <p class="colorBlack4">Información de Máquina:</p>
  </ion-text>
  <ion-text class="ion-text-center">
    <p class="colorBlack4">Nombre:</p><p class="ion-text-center">{{ name }}</p>
  </ion-text>
  <ion-text class="ion-text-center">
    <p class="colorBlack4">Descripción:</p><p class="ion-text-center">{{ description }}</p>
  </ion-text>  
  <ion-text class="ion-text-center">
    <p class="colorBlack4">Código:</p><p class="ion-text-center"> {{ code }}</p>
  </ion-text>
  <ion-text class="ion-text-center">
    <p class="colorBlack4">Marca:</p><p class="ion-text-center">{{ brand }}</p>
  </ion-text>
  <ion-text class="ion-text-center">
    <p class="colorBlack4">Modelo</p><p class="ion-text-center">{{ model }}</p>
  </ion-text>
  <ion-col size="6" class="ion-no-padding">
    <img src="{{ pathImage }}">
     </ion-col>    

     <ion-text class="ion-text-center">
      <p class="colorBlack2">Bitacoras:</p>

      
        <div class="scrollmenu">
          <table>
            <tr>
              <td class="ion-text-center">
                <ion-label class="colorBlack2"> No. </ion-label>
              </td>
              <td class="ion-text-center">
                <ion-label class="colorBlack2">Técnico</ion-label>
              </td>
              <td class="ion-text-center">
                <ion-label class="colorBlack2">Comentario</ion-label>
              </td>
              <!-- <td class="ion-text-center">
                <ion-label class="colorBlack2">Creado</ion-label>
              </td> -->
            </tr>
            <tr class="colorTR" *ngFor="let binnacle of binnacles; index as i">
              <td class="ion-text-center">
                <ion-label class="colorBlack1"> {{i+1}} </ion-label>
              </td>
              <td class="ion-text-center">
                <ion-label class="colorBlack3" (click)="tecnico(binnacle)">	{{ binnacle.nameTechnician }} </ion-label>
              </td>
              <td class="ion-text-center">
                <ion-label class="colorBlack1">{{ binnacle.commentary }}</ion-label>
              </td>
              <!-- <td class="ion-text-center">
                <ion-label class="colorBlack1">{{ binnacle.createDate.toDate()| date: 'dd/MM/yyyy' }}</ion-label>
              </td> -->
          </table>
        </div>
     </ion-text>
    
</ion-content>
