<ion-content class="ion-padding">
<div class = "header"> 
<img src ="assets/img/logo.png">
</div>
<div class = "form">
<ion-input type="email" [(ngModel)]="email" placeholder ="Email" ></ion-input>
<ion-input type="password" [(ngModel)]="pass" placeholder ="Password" ></ion-input>
</div>
<div class=button”> 
  <ion-button shape="round" mode="ios" color="tertiary"
  (click)="goHome()">Ingresar</ion-button>

</div>
</ion-content>
