ion-content {
    --background: #fff;
    border-left : 7px solid #ffde59;

    

    .header {
        padding : 0 17vw;
        // margin-top: 9em;    
        color: rgb(88, 85, 85),

      
      
    }
    h3{
        font-size: 1.1rem;
        color: #9d9bef;
        }
        span{

            color: #fff;
        }
        h1{
            font-size: 2.0rem;
            font-weight: 400;

        }
        .form {
            padding: 0 12vw;    
            margin-top: 70px;   

        }
        ion-input{
            --background : #ecf5f5;
            --padding-start:33px;
            height: 55px;
            border-radius: 25px;
            margin-bottom: 20px;
            --placeholder-color: #171718;
            --color : rgb(31, 30, 30);

        }
        

        
.button{
    width: 90vw;
    display: flex;   
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    justify-content: center;
    
}
        
        ion-icon{
            margin-left: 30px;


        }
        .footer{
            color: #fff;
            padding: 0 12vw;
            margin-top: 100px;
            text-align: center;
        }
        h3{
            font-size: 1rem;
            font-weight: 400;   

        }
        span{
            font-size: 1.2rem;
            color: #fcfafa;
            font-weight: 500;
        }
        }
        
        
    
    
