<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Información de Servicio y Bitacora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <p class="colorBlack3">Información de Servicio</p>
  </div>
  <ion-text class="ion-text-left">
    <p class="colorBlack2">Máquina:</p>
    <p class="colorBlack1"> {{nameMachine}}</p>
  </ion-text>
  <ion-text class="ion-text-left">
    <p class="colorBlack2">Marca:</p>
    <p class="colorBlack1">{{brand}}</p>
  </ion-text>
  <ion-text class="ion-text-left">
    <p class="colorBlack2">No. Serie:</p>
    <p class="colorBlack1"> {{serialNumber}}</p>
  </ion-text>
  <ion-text class="ion-text-left">
    <p class="colorBlack2">Modelo:</p>
    <p class="colorBlack1">{{model}}</p>
  </ion-text>
  <ion-text class="ion-text-left">
    <p class="colorBlack2">Técnico:</p>
    <p class="colorBlack1">{{nameTechnician}}</p>
  </ion-text>
  <ion-text class="ion-text-left">
    <p class="colorBlack2">Usuario: </p>
    <p class="colorBlack1"> {{nameUser}}</p>
  </ion-text>
  <ion-text class="ion-text-left">
    <p class="colorBlack2">Campus: </p>
    <p class="colorBlack1">{{campus}} </p>
  </ion-text>
  <ion-text class="ion-text-left">
    <p class="colorBlack2">Edificio: </p>
    <p class="colorBlack1">{{building}}</p>
  </ion-text>
  <!-- <ion-text class="ion-text-left">
  <p class="colorBlack2">Fecha de Servicio: </p><p class="colorBlack1">20/01/2021</p>
</ion-text> -->
  <ion-text class="ion-text-left">
    <p class="colorBlack2">Hora de Servicio:</p>
    <p class="colorBlack1">{{hour}}</p>
  </ion-text>
  <ion-text class="ion-text-left">
    <p class="colorBlack2">Comentario: </p>
    <p class="colorBlack1"> {{commentary}}</p>
  </ion-text>
  <div class="ion-text-center" *ngIf="data.binnacle != 0">
    <p class="colorBlack3">Información de Bítacora</p>
  </div>

  <div class="row">
    <div class="col-sm-4 mb-3" *ngFor="let file of files">
      <a [href]="file.path" target="_blank" *ngIf="file.type === 'img'">
        <img class="img-info" [src]="file.path" alt="">
      </a>
      <br>
      <a [href]="file.path" target="_blank" *ngIf="file.type === 'pdf'">
        <img class="img-pdf" src="assets/img/pdf.png" alt="">
      </a>
    </div>
  </div>

</ion-content>
