.colorBlack2 {
  color: blue;
  font-weight: bold;

}

.colorBlack1 {
  color: black;

  margin-left: 10px;
}

.colorBlack3 {
  color: black;
  font-weight: bold;
}

.img-info {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.img-pdf {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
