<ion-menu side="start" menuId="first" type="overlay">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title class="ion-text-center"> MENU </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div>
      <img src="assets/img/usuario.png" class="ion-margin-start avatarm" (click)="perfilUsuario()">
      <p class="nombrePerfil">Usuario</p>
    </div>
    <ion-list>
      <ion-item (click)="regresar()"><ion-icon slot="start" name="home-outline"></ion-icon>Inicio</ion-item>     
      <ion-item (click)="exit()"><ion-icon slot="start" name="log-out-outline" ></ion-icon>Salir</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>