.avatarm {
    height: 110px;
    width: 110px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin-left: 32%;
    margin-right: 30%;
  }
  
  .nombrePerfil {
    text-align: center;
  }